@import "../capital-humano-global-styles.scss";


main{
    @include main-container;
    align-items: center;
  }

  h1{
    @include titles;
  }

h3{
  @include subtitles;
  font-size: 25px;

}
p{
  text-align: justify;
}

/*.grid-container{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    display: grid;
    grid-gap: 2em;
    width: 70%;
    text-align: justify;
}
*/
.grid-image{
  border-radius: 1em;
  display: flex;
  height: 35%;
  justify-content: center;
  margin: 0 auto;
  width: 90%;
}

.info-container{
    margin: 0 auto;
    text-align: left;
    width: 70%;

}

.end-text{
    background-color: var(--dark-blue);
    border-radius: 10px;
    color: #fafafa;
    font-style: italic;
    margin-bottom: 1.5em;
    padding: 1.5em;
    text-align: justify

}
/*
h3{
  @include other-titles;
} 
  */