<app-banner [title]="'Salud en el Trabajo'"></app-banner>

<main>
    <h1>Ataques de pánico</h1>

    <section class="grid-container">
        <div>
            <h3>¿Qué es un ataque de pánico?</h3>
            <p>
                Un ataque de pánico es una condición en la cual un exceso de adrenalina entra a su torrente sanguíneo.
                Un mensaje de miedo le indica a sus glándulas suprarrenales que hay una emergencia.

                <strong>"Solo Toma Tres Minutos Parar Un Ataque De Pánico"</strong>

                Solo toma tres minutos para que sus glándulas suprarrenales llenen su cuerpo de adrenalina. Y también
                solo toma tres minutos para que su cuerpo pare esta reacción de adrenalina. Si usted para un ataque de
                pánico el momento que comienza, la reacción solo tiene que durar tres minutos.
            </p>


            <img [src]="salud_img" alt="ataque de panico" class="grid-image">
        </div>

        <div>
            <h3>¿Cómo lo detenemos?</h3>
            <h4>Completa Resolución
            </h4>
            <p>Si usted sufre de ataques de pánico con frecuencia se sugiere que usted trabaje con PNL (Programación
                Neurolingüística) para resolver la causa de su ansiedad. Usted merece vivir libre de ansiedad.
            </p>

            <h4>Los Cuatro Pasos:
            </h4>
            <ul>
                <li>1. Relájese.
                </li>
                <li>2. Pare Los Pensamientos Negativos.
                </li>
                <li>3. Use Frases Tranquilizadoras.
                </li>
                <li>4. Acepte Sus Emociones
                </li>
            </ul>

        </div>
    </section>

    <article class="info-container">
        <h3> Implementación de los cuatro pasos: </h3>

        <h4> 1. Relájese.</h4>

        <p>
            Relájese al hacer respiraciones lentas, hondas y completas. Cálmese al recordar que solo le está dando un
            ataque de pánico y que no le está pasando nada más serio que eso. Continue respirando lento, hondo y de
            manera completa. Respiraciones lentas, hondas y completas relajará su cuerpo lo cual es el primer paso para
            parar que el exceso de adrenalina llene su cuerpo.
        </p>

        <h4> 2. Pare Los Pensamientos Negativos.</h4>

        <p>
            Pare los pensamientos negativos al gritar la palabra "¡¡¡ALTO!!!" de manera muy fuerte dentro de su cabeza.
            Al gritar la palabra "ALTO" usted está interrumpiendo el mensaje de emergencia que su cerebro está mandando
            a sus glándulas suprarrenales. Con frecuencia las personas teniendo un ataque de pánico se meten en un
            círculo vicioso al repetirse a si mismos frases catastróficas una y otra vez dentro de su cabeza.
        </p>

        <h4> Paso 3. Use Frases Tranquilizadoras
        </h4>
        <p>
            Una frase tranquilizadora es una frase positiva que es tan o más fuerte que la frase catastrófica que usted
            ha usado para generar miedo dentro de usted. Reemplace el pensamiento negativo con uno positivo. Escoja una
            frase que contrareste el pensamiento negativo.
        </p>

        <h4> Paso 4. Acepte Sus Emociones</h4>
        <p>
            El aceptar sus emociones es muy importante. El minimizar esta experiencia por lo general solo sirve para que
            se repita.

            Empiece al identificar que emoción está sintiendo. La mayoría de los ataques de pánico son causados por la
            emoción de miedo o una variación del miedo. Identifique que emoción está sintiendo y encuentre una razón por
            la cual la siente.

            Dele validez a lo que usted está sintiendo y la razón por ello. Si a usted le está dando un ataque de pánico
            antes de dar un discurso, entonces usted siente miedo porque es algo que causa temor. El sentir miedo al
            estar frente a un público es una causa común de miedo y pánico. Si usted siente miedo de que le está dando
            un ataque al corazón, es válido el sentir miedo de eso. Si usted siente temor al escuchar los pasos de
            alguien caminando detrás de usted es razonable el sentir miedo de que algo malo podría pasarle.
        </p>
    </article>

    <p class="info-container end-text">El miedo es una emoción positiva que nos recuerda de cuidarnos a nosotros mismos.
        Préstele atención a sus emociones, cuídese a usted mismo, y mantenga sus emociones en proporción a la situación
        al mantener todo en perspectiva. Mucha gente ya no sufre de ataques de pánico después de aprender estos pasos.
        Sin embargo, existe una solución más poderosa para resolver de manera permanente las respuestas de pánico y
        ansiedad y darle felicidad y libertad sobre sus emociones. Su mente tiene el poder de influenciar de una manera
        muy poderosa sus estrategias negativas a las situaciones. Usted puede convertirse en la persona que usted quiere
        ser.
    </p>
</main>