<div class="page-container">
  <main class="container main-grid-container">
    <section class="main__content article">
      @if (careersInformation.description) {
        <h2> {{ careersInformation.title }} </h2>
      }

      <div class="descriptions">
        <article class="first-article">
          @if (!careersInformation.description) {
            <h2> {{ careersInformation.title }} </h2>
          }
        </article>

        @if (!careersInformation.purpose && careersInformation.imageUrl) {
          <article>
            @if (careersInformation.modality) {
              <div class="title">
                <div class="get-title">
                  <h2> Modalidad de estudio: </h2>
                  <h3> {{ careersInformation.modality }} </h3>

                  <span class="dots-icons-bottom">
                    <span></span><span></span><span></span>
                  </span>
                </div>
              </div>
            }
          </article>
        }
      </div>

      <div class="information-page-container">
        @if (careersInformation.description) {
          <article>
            <div class="content">
              <h2> Propósito </h2>
              @for (meaning of careersInformation.description; track meaning) {
                <p> {{ meaning }} </p>
              }
            </div>
          </article>
        }

        @if (careersInformation.purpose) {
          <article>
            <div class="content">
              <h2> Propósito </h2>
              @for (meaning of careersInformation.purpose; track meaning) {
                <p> {{ meaning }} </p>
              }
            </div>
          </article>
        }
        
        @if (careersInformation.meaning || careersInformation.mision) {
          <article>
            @if (careersInformation.meaning) {
              <div class="content">
                @if (careersInformation.type !== 'maestrias') {
                  <h2> Propósito de la especialización </h2>
                }
                
                @if (careersInformation.type === 'maestrias') {
                  <h2> Propósito de la maestría </h2>
                }
                
                @for (meaning of careersInformation.meaning; track meaning) {
                  <p> {{ meaning }} </p>
                }
              </div>

              @if (careersInformation.mision) {
                <div class="content">
                  <h2> Misión </h2>
                  @for (meaning of careersInformation.mision; track meaning) {
                    <p> {{ meaning }} </p>
                  }
                  
                  @if(careersInformation.goals) {
                    <h2> Objetivos </h2>
                  }
                  
                  @for (profile of careersInformation.goals; track profile) {
                    <p> {{ profile }} </p>
                  }
                </div>
              }
            }
          </article>
        }
        
        @if (careersInformation.purposeProfesional) {
          <article>
            <h2> Propósito </h2>
            @for (market of careersInformation.purposeProfesional; track market) {
              <p> {{ market }} </p>
            }

            <h2> Perfil de ingreso </h2>
            @for (profile of careersInformation.professionalProfile; track profile) {
              <p> {{ profile }} </p>
            }

            <div class="subitem">
              <h2> Requisitos de ingreso: </h2>
              @for (profile of careersInformation.entryRequirements; track profile) {
                <h3> {{ profile }} </h3>
              }
            </div>

            <h2> Certificación </h2>
            @for (market of careersInformation.certification; track market) {
              <p> {{ market }} </p>
            }
          </article>
        }
        
        @if (careersInformation.specificAspects) {
          <article>
            <h2> Aspectos específicos de la CEAC </h2>
            @for (market of careersInformation.specificAspects; track market) {
              <p> {{ market }} </p>
            }
          </article>
        }
        
        @if (careersInformation.vision) {
          <article>
            <h2> Visión </h2>
            @for (meaning of careersInformation.vision; track meaning) {
              <p> {{ meaning }} </p>
            }
          </article>
        }
        
        @if (careersInformation.legalBases) {
          <article>
            <h2> Bases legales </h2>
            @for (meaning of careersInformation.legalBases; track meaning) {
              <p> {{ meaning }} </p>
            }
          </article>
        }
        
        @if (!careersInformation.purposeProfesional) {
          <article>
            <h2> Perfil de ingreso </h2>
            @for (profile of careersInformation.professionalProfile; track profile) {
              <p> {{ profile }} </p>
            }
            
            <div class="subitem">
              <h2> Requisitos de ingreso: </h2>
              @for (profile of careersInformation.entryRequirements; track profile) {
                <h3> {{ profile }} </h3>
              } 
            </div>

            @if (careersInformation.critaria) {
              <div class="subitem">
                <h2> Criterios y/o normas para la selección de aspirantes </h2>
                @for (profile of careersInformation.critaria; track profile) {
                  <h3>
                    {{ profile }}
                  </h3>
                }
              </div>
            }
            
            @if (careersInformation.deliveries) {
              <div class="subitem">
                <h2> Entregar los siguientes recaudos: </h2>
                @for (profile of careersInformation.deliveries; track profile) {
                  <h3> {{ profile }} </h3>
                }
              </div>
            }
            
            @if (careersInformation.otherCountries) {
              <div class="subitem">
                <h2> Los participantes de otros países deberán consignar: </h2>
                @for (profile of careersInformation.otherCountries; track profile) {
                  <h3> {{ profile }} </h3>
                }
              </div>
            }
            
            @if (careersInformation.academicRegime) {
              <div>
                <h2> Régimen Académico </h2>
                @for (market of careersInformation.academicRegime; track market) {
                  <p> {{ market }} </p>
                }
              </div>
            }
          </article>
        }
        
        @if (careersInformation.purpose) {
          <article>
            <h2> Perfil de egreso </h2>
            @for (profile of careersInformation.professionalProfileGraduate; track profile) {
              <p> {{ profile }} </p>
            }
            
            <div class="subitem">
              <h2> Requisitos de egreso (venezolanos y extranjeros): </h2>
              @for (profile of careersInformation.graduationRequirements; track profile) {
                <h3> {{ profile }} </h3>
              }
            </div>

            <div class="subitem">
              <h2> Requisitos para la permanencia en el postgrado </h2>
              @for (profile of careersInformation.permanenceRequirements; track profile) {
                <h3> {{ profile }} </h3>
              }
            </div>

            <div class="title">
              <div class="get-title">
                <h2> Título a obtener </h2>
                <h3>{{ careersInformation.getTitle }}</h3>

                <span class="dots-icons-bottom">
                  <span></span><span></span><span></span>
                </span>
              </div>

              @if (!careersInformation.link) {
                <a
                  href="https://www.urbe.edu/Login/?URL_APP=http://www14.urbe.edu/specialities/faces/flow/init.xhtml?idStudy=263"
                  target="_blank" class="ead-button">
                  Inscríbete en línea aquí
                </a>
              }
            </div>
          </article>
        }
        
        @if (careersInformation.ocupationalMarket) {
          <article>
            <h2> Régimen Académico </h2>
            @for (market of careersInformation.ocupationalMarket; track market) {
              <p> {{ market }} </p>
            }
          </article>
        }
        

        <article [ngStyle]="{
            display: careersInformation.relatedCareers ? 'block' : 'none'
          }">
          <h2> Requisitos de egreso </h2>
          @for (related of careersInformation.relatedCareers; track related) {
            <p> {{ related }} </p>
          }
          
          @if (careersInformation.getTitle) {
            <div class="title">
              <div class="get-title">
                <h2>Titulo a obtener</h2>
                <h3> {{ careersInformation.getTitle }} </h3>

                <span class="dots-icons-bottom">
                  <span></span><span></span><span></span>
                </span>
              </div>

              @if (!careersInformation.link) {
                <a 
                  href="https://www.urbe.edu/Login/?URL_APP=http://www14.urbe.edu/specialities/faces/flow/init.xhtml?idStudy=263"
                  target="_blank" class="ead-button">
                  Inscríbete en línea aquí
                </a>
              }
            </div>
          }
        </article>
      </div>
    </section>

    <aside class="rightnav">
      @for (item of presentationData; track item) {
        <div class="card">
          <app-presentation-card [data]="item" />
        </div>
      }
      
      @if (contactsNav) {
        <app-aside-nav [items]="contactsNav" [title]="'Contactos'" [type]="'contacts'" />
      }
      
      <!-- horarios de atencion -->
      @if (scheduleNav) {
        <app-aside-nav [items]="scheduleNav" [title]="'Horarios de clases'" [type]="'schedule'" />
      }
      
      <!-- horarios de atencion -->
      <app-aside-nav [items]="businessSchedules" [title]="'Horarios de atención'" [type]="'schedule'" />
      
      <!-- horarios de consulta -->
      <app-aside-nav [items]="consultationSchedules" [title]="'Horarios de consultas'" [type]="'schedule'" />
      
      <!-- Atención de los participantes -->
      <app-aside-nav [items]="participantsAttention" [title]="'Atención de los participantes'" [type]="'schedule'" />
      
      <!-- Coordinadores de programas -->
      <app-aside-nav [items]="programsCoordinators" [title]="'Coordinadores de programas'" [type]="'schedule'" />
      
      <!-- Acreditación -->
      @if (accreditation) {
        <app-aside-nav [items]="accreditation" [title]="'Acreditación'" [type]="'schedule'">
        </app-aside-nav>
      }
      
      @if (downloadsNav) {
        <app-aside-nav [items]="downloadsNav" [title]="'Descargas'"
        [type]="'downloads'"></app-aside-nav>
      }
      
    </aside>

    @if (pensum) {
      <div class="pensum">
        <app-pensum-cards [pensum]="pensum" />
      </div>
    }
  </main>
</div>