<app-banner [title]="'Procedimientos'"></app-banner>

<main>

  <h1>Fideicomiso Banesco</h1>

  <p class="text-container">
    A partir del tercer mes ininterrumpido de servicio, el trabajador tiene derecho a una prestación de antigüedad
    equivalente a 5 días de salario por cada mes. Estos fondos de prestación de antigüedad, se depositan en un
    Fideicomiso constituido en Banesco Banco Universal. Al momento de ingresar el trabajador a la universidad, la unidad
    de Servicios al Personal asignará la cuenta que la persona facilita para la nómina al fideicomiso de Banesco. Sin
    embargo, el trabajador puede notificar si desea asignar otro número de cuenta en la oficina de Capital Humano.
  </p>

  <h2>
    Solicitud de adelanto de prestación de antigüedad
    fideicomiso Banesco
  </h2>

  <p class="pasos">
    <strong>Los pasos a seguir para realizar su solicitud son:</strong>
  </p>


  <p class="text-container">
    1- Verificar monto disponible a retirar, únicamente podrá solicitar como máximo el 75% del monto abonado. Para esta
    consulta sugerimos consultar la página. En el menú de Banca por Internet, seleccione la opción
    BanescOnline. Para poder usar este servicio debe estar afiliado a una tarjeta de debito. Una vez ingresado su
    usuario y contraseña, podrá consultar el saldo de sus cuentas y sus operaciones, así como saldo de fideicomiso.

  </p>

  <p class="text-container">
    2- Por otra parte, aquellos trabajadores que tienen cuentas afiliadas de otros bancos al fideicomiso deben asistir a
    la Dirección de Capital Humano para consultar el monto disponible que desee retirar.
  </p>

  <p class="text-container">
    3- Descargar la planilla de solicitud de anticipo disponible en el área de formatos y entregar el formato en la
    oficina de Capital Humano.
  </p>

  <button class="nav-btn" routerLink="/capital-humano/formatos"> Ir a Formatos </button>


  <p class="text-container">
    4- El dinero se hará efectivo en la cuenta individual al día siguiente para aquellos trabajadores que poseen cuentas
    Banesco y se hará efectivo en tres (3) días hábiles para los trabajadores que tienen afiliadas cuentas de otros
    bancos.
  </p>

  <p class="text-container">
    5- Las consultas presenciales y solicitudes se realizan los días martes y jueves de cada semana, a excepción de los
    5 primeros días del mes, cuando se cargan los abonos, por lo que la página de Banesco se encuentra bloqueada y no se
    pueden cargar las solicitudes.
  </p>

  <p class="text-container">
    6- Cualquier duda o información adicional que se necesite, puede realizarse a través del correo electrónico:
    serviciosalpersonal&#64;urbe.edu
  </p>
</main>