<app-banner [title]="'centro de idiomas'" />

<div class="page-wrapper">
  <main>
    <div class="main-content">
      <div class="principal-background"></div>

      <p> El Centro de Idiomas de la Universidad Privada Dr. Rafael Belloso Chacín es la unidad académica y
        administrativa, adscrita al vicerrectorado académico, que coordina los servicios relacionados con la enseñanza
        del idioma inglés como lengua extranjera en modalidades presencial y semi-presencial a nivel de Pregrado, Inglés
        Instrumental para Postgrado en modalidad online y a nivel de Extensión cursos de idiomas. </p>
      <p> Funciona bajo la responsabilidad de la Directora, Adjunta y Coordinadora, que gerencian los servicios
        académicos a través de la planificación, diagnóstico, coordinación y supervisión de las actividades inherentes a
        la enseñanza de idiomas. Adicionalmente, cuenta con un equipo docente y administrativo avocado a promover y
        facilitar el aprendizaje del idioma en todas sus instancias y modalidades. </p>

      <div class="mission">
        <h2> Misión </h2>
        <p> Coadyuvar a la formación de profesionales competentes, responsables e innovadores, capaces de interactuar
          exitosamente en escenarios cambiantes, con competencias multilingües y multiculturales que les permitan
          responder a las necesidades y expectativas laborales nacionales e internacionales en cualquier área de trabajo
          donde se requiera de una comunicación con fines específicos en español y en una lengua extranjera. </p>
      </div>

      <div class="vision">
        <h2> Visión </h2>
        <p> Ser la mejor opción para cubrir las necesidades de comunicación e intercambio cultural y académico de sus
          estudiantes, egresados, personal docente y administrativo, además de servir como un canal que fortalezca las
          relaciones entre las comunidades del conocimiento y las organizaciones, permitiendo el progreso profesional,
          el desarrollo intelectual y el mejoramiento de la calidad de vida de sus estudiantes. </p>
      </div>
    </div>

    <!-- Acordeón con la información de la sección -->
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon> school </mat-icon>
            Pregrado
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <h2> Pruebas Extraordinarias </h2>
          <p> Las Pruebas Extraordinarias de Inglés están dirigidas a estudiantes activos de Pregrado con conocimientos
            sólidos del idioma, no es una prueba de nivelación, se deben aprobar los niveles de manera individual
            respetando las prelaciones entre ellas. </p>
          <p> Fechas de inscripción y Aplicación de pruebas. </p>
        </div>

        <h3> Inglés I </h3>
        <p> <b> Pre - registros hasta: </b> 03/02/24. </p>
        <p> <b> Pagos hasta: </b> 06/02/24. </p>
        <p> <b> Aplicación de la prueba: </b> 10/02/24. </p>
        <hr />

        <h3> Inglés II </h3>
        <p> <b> Pre - registros hasta: </b> 17/02/24. </p>
        <p> <b> Pagos hasta: </b> 20/02/24. </p>
        <p> <b> Aplicación de la prueba: </b> 24/02/24. </p>
        <hr />

        <h3> Inglés III </h3>
        <p> <b> Pre - registros hasta: </b> 02/03/24. </p>
        <p> <b> Pagos hasta: </b> 05/03/24. </p>
        <p> <b> Aplicación de la prueba: </b> 09/03/24. </p>
        <hr />

        <h3> Inglés IV </h3>
        <p> <b> Pre - registros hasta: </b> 16/03/24. </p>
        <p> <b> Pagos hasta: </b> 19/03/24. </p>
        <p> <b> Aplicación de la prueba: </b> 23/03/24. </p>
        <hr />

        <h3> Inglés V </h3>
        <p> <b> Pre - registros hasta: </b> 06/04/24. </p>
        <p> <b> Pagos hasta: </b> 09/04/24. </p>
        <p> <b> Aplicación de la prueba: </b> 13/04/24. </p>

        <div class="important-note-container">
          <h4><mat-icon> warning </mat-icon><span> Nota Importante </span></h4>
          <p> El alumno interesado debe enviar un correo electrónico a <strong> idiomas&#64;urbe.edu </strong> para
            solicitar formulario de pre-registro para presentar el o los niveles que considera está en capacidad de
            aprobar. Puedes formalizar el pre - registro desde el siguiente <a rel="noopener"
              href="https://forms.gle/Ls6sXT9A1QGT9zwe8" target="_blank"> link </a>. </p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon> school </mat-icon>
            Postgrado
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div>
          <h2> Inglés Instrumental </h2>

          <p> Contenido académico creado para participantes activos de los diferentes programas de Postgrado de la
            Universidad. </p>

          <p> <b> Duración del curso: </b> 48 horas. </p>

          <p> <b> Modalidad: </b> Curso online y Prueba de Suficiencia. </p>

          <p> <b> Correo: </b> <a href="mailto:idiomas@urbe.edu" target="_blank">idiomas&#64;urbe.edu</a>. </p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon> school </mat-icon>
            Extensión
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-accordion class="accordion-languages-course">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Inglés </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <div>
                <ul>
                  <li> 21 niveles. </li>
                  <hr />
                  <li> Modalidad presencial. </li>
                  <hr />
                  <li> <b [style.marginRight.rem]="1"> Interdiario: </b> (6 semanas por nivel). </li>
                  <p> Lunes y Miércoles 3.00 p.m. a 5.00 p.m. </p>
                  <p> Martes y Jueves 3.00 p.m. a 5.00 p.m. </p>
                  <hr />
                  <li> <b [style.marginRight.rem]="1"> Intensivo: </b> (3 semanas por nivel). </li>
                  <p> Lunes a Jueves 3.00 p.m. a 5.00 p.m. </p>
                  <hr />
                  <li> <b [style.marginRight.rem]="1"> Sabatino: </b> (6 semanas por nivel). </li>
                  <p> 8:30 a.m. - 12:30 p.m. </p>
                </ul>
              </div>
            </ng-container>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Japonés </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <div>
                <ul>
                  <li> 20 niveles. </li>
                  <hr />
                  <li> 5 semanas por nivel. </li>
                  <hr />
                  <li> Horarios vespertinos (consultar por WhatsApp). </li>
                  <hr />
                  <li> Modalidad presencial. </li>
                </ul>
              </div>
            </ng-container>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Inglés Instrumental </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <div>
                <ul>
                  <li> Curso para validar la materia a nivel de Postgrado. </li>
                  <hr />
                  <li> 48 horas académicas. </li>
                  <hr />
                  <li> Modalidad online. </li>
                </ul>
              </div>
            </ng-container>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Tutorías Particulares </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <ul>
                <li> Abierto al público en general a partir de 10 años. </li>
                <hr />
                <li> Objetivos específicos ajustados a la necesidad del participante. </li>
                <hr />
                <li> Modalidad presencial y online. </li>
              </ul>
            </ng-container>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Curso de Inglés Traveling Edition (Edición Viajeros) </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <div>
                <ul>
                  <li> Duración 2 meses (2 niveles). </li>
                  <hr />
                  <li> Modalidad presencial y online. </li>
                </ul>
              </div>
            </ng-container>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Club de Conversación </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <div>
                <ul>
                  <li> 4 sesiones (1 semanal). </li>
                  <hr />
                  <li> Prueba de nivelación requerida. </li>
                  <hr />
                  <li> Modalidad presencial. </li>
                </ul>
              </div>
            </ng-container>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Francés </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <div>
                <ul>
                  <li> 15 niveles. </li>
                  <hr />
                  <li> Horario sabatino (consultar por WhatsApp). </li>
                </ul>
              </div>
            </ng-container>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title> Italiano </mat-panel-title>
            </mat-expansion-panel-header>

            <ng-container>
              <div>
                <ul>
                  <li> 14 niveles. </li>
                  <hr />
                  <li> Horario sabatino (consultar por WhatsApp). </li>
                </ul>
              </div>
            </ng-container>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-expansion-panel>
    </mat-accordion>
  </main>

  <aside>
    <div>
      <strong class="aside__header"> Horarios de Atención </strong>
      <div class="aside__content">
        <strong> Turnos de clases </strong>
        <span> Sábados </span>
        <span> Matutino: 7:00 a.m. a 1:10 p.m. </span>
        <span> Vespertino: 1:10 p.m. a 6:00 p.m. </span>
      </div>
    </div>

    <div>
      <strong class="aside__header"> Horarios de clases </strong>
      <div class="aside__content">
        <span> Jueves y viernes: 3:15 p.m. a 10:10 p.m. </span>
        <span> Sábados: 9:05 a.m. a 3:55 p.m. </span>
      </div>
    </div>

    <div>
      <strong class="aside__header"> Atención a los participantes </strong>
      <div class="aside__content">
        <strong> Coordinación Docente Postgrado </strong>
        <span> Bloque E </span>
        <span> Lunes a viernes: 7:00 a.m. a 10 p.m. </span>
        <span> Sábados: 6:45 a.m. a 11:45 a.m. y 1:00 p.m. a 4:00 p.m. </span>

        <div>
          <strong> Coordinación de Programas </strong>
          <span> Martes a viernes: 1:00 p.m. a 10:00 p.m. </span>
          <span> Sábados: 7:00 a.m. a 11:00 p.m. y 12:30 p.m. a 4:00 p.m. </span>
        </div>
      </div>
    </div>

    <app-aside-nav [items]="contactsNav" [title]="'Contactos'" [type]="'contacts'" />
  </aside>
</div>