<app-banner [title]="'Integrantes del SSST'"></app-banner>

<div class="page-wrapper">
  <main>
    <div class="main-content">
      <section class="cards-container">
        @for (integrante of integrantes; track integrante) {
          <div class="card-item">
            <article>
              <h3> {{ integrante.nombre }} </h3>
              <p> {{ integrante.cargo }} </p>
              <p> {{ integrante.dpto }} </p>
              <p>
                Correo:<br/>
                <a href="mailto:{{ integrante.correo }}"> {{ integrante.correo }} </a>
              </p>
            </article>

            <img src="{{ integrante.url }}" alt="" class="person-image" />
          </div>
        }
      </section>
    </div>
  </main>
</div>
