:root {
    --white-1: #ffffff;
    --white-1-rgb: 255, 255, 255;
    --anti-flash-white: #f2f4f9;
    --anti-flash-white-rgb: 242, 244, 249;
    --gray-light: #ececec;
    --gray-light-rgb: 236, 236, 236;
    --gray: #636363;
    --gray-rgb: 99, 99, 99;
    --dark-blue: #00246a;
    --dark-blue-rgb: 0, 36, 106;
    --blue: #002a73;
    --blue-light: #2571f3;
    --blue-light-rgb: 37, 113, 243;
    --red: #781e27;
    --red-rgb: 120, 30, 39;
    --yellow: #d8c516;
    --yellow-rgb: 216, 197, 22;
    --gray-dark: #1f1f1f;
    --gray-dark-rgb: 31, 31, 31;
    --dark-slate-gray: #0e2235;
    --dark-slate-gray-rgb: 14, 34, 53;
    --box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    --borderRadiusButton: 9px;
};