<app-back-button></app-back-button>

<main>
    <h1>Construyendo una Cultura de Seguridad y Salud</h1>

    <p>El 28 de abril se celebró el Día Mundial de la Seguridad y la Salud en el Trabajo, proclamado por la Organización Internacional del Trabajo (OIT), donde se realiza una campaña anual e internacional para promover el trabajo seguro, saludable y digno. En vista del Día Mundial de la Seguridad y Salud en el Trabajo 2022, esta se centrará en la participación y el diálogo social en la creación de una cultura de seguridad y salud positiva.

    En este sentido, la URBE en conjunto con la empresa DIAPLUS, C.A., aliada en Medicina Ocupacional, organizaron las Jornadas “Construyendo una cultura de seguridad y salud positiva”, llevada a cabo en el auditorio de la URBE, y en las cuales destacados especialistas ofrecieron sus ponencias con temas de interés en materia de seguridad y salud laboral para toda la comunidad universitaria.
    </p>

    <img [src]="seguridad_img" class="images" alt="">
    </main>