<app-banner title="Cursos"/>

<main class="main">
  <a class="banner-incripcion"
    href="https://cdn.urbe.edu/portal-urbe/documents/estudios-extension/planilla-de-registro-cursos-cortos-enero-abril-2021.pdf"
    target="_blank" download>
    <img src="https://cdn.urbe.edu/portal-urbe/images/banners/banner-preinscripcion-curso-de-extension.jpg"
      alt="Banner cursos">
  </a>

  <h2>Pasos para la inscripción en los cursos de extensión</h2>

  <p>
    Luego de seleccionar el curso, puede dirigirse al Decanato de extensión o realizar una llamada al
    <a href="tel:02612008781"><span>0261-2008781</span><mat-icon>phone</mat-icon></a> o
    <a href="tel:02612008750"><span>0261-2008750</span><mat-icon>phone</mat-icon></a>
    para verificar la disponibilidad de cupos para la fecha en la cual se encuentra interesado(a).
    Una vez confirmada la disponibilidad, debe solicitar una planilla de inscripción, llenar los datos
    solicitados y realizar el pago del valor del curso, mediante un depósito bancario en cualquiera de las
    cuentas de la Universidad o bien realizarlo directamente en cualquiera de las cajas, mediante
    tarjetas de crédito o débito. En caso de realizar la opción de pagos en las cajas de la Universidad,
    debe indicar que le sea cargado el valor del curso como anticipo a su número de cédula de identidad,
    el mismo debe ser entregado a los Asistentes Logísticos del Decanato de Extensión.
  </p>

  <iframe src="https://www11.urbe.edu/extension/?cat=22" frameborder="0"></iframe>
</main>