@import '../capital-humano-global-styles.scss';

main {
    @include main-container;
    align-items: center;
    transform: translateY(-4em);    
} 
.prevencion{
    text-align: justify
}

h1{
    @include titles;
}

p{
    @include info-container;
}